body {
    background: #edeae3;
    color: #333;
    font-family: pt-sans, sans-serif;
}

h1 {
    font-family: paytone-one, sans-serif;
}

.btn.btn-geolf{
    background-color: #333;
    border-color: #222;
}

.btn.btn-swing {
    height:200px;
    width: 50%;
}

.btn.btn-swing:active {
   background-size: #aaa;
}

.driving-stats {
    width: 100%;
    padding: 15px;
}

h1 .btn {
    font-family: pt-sans, sans-serif;
}

.map {
    width: 100%;
    height: 300px;
}

.map.unavailable, .tinymap.unavailable {
    background-color: #999999;
    border-style: solid;
    border-width: 1px;
    border-color: #555555;
    color: #eeeeee;
    padding: 20px;
}

.tinymap {
    height: 250px;
}

.arrow {
    display: inline-block;
    background-image: url("../images/compass.svg");
    background-size: 100%;
    -webkit-transform-origin: 50% 80%;
    width: 12px;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
}

.holesContainer {
    padding-left: 0px;
}

li.hole {
    list-style: none;
    margin: 5px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    color: #f3f3bc;
    background-color: #7e8769;
}

h3 .holeDistance {
    font-weight: bold;
}

.container {
    max-width: inherit;
}