<h3 ng-click="hit(400)">Driving Range
</h3>

<div class="driving-stats">
    Club:
    <span class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{golfer.club}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-click="selectClub('driver')"><a>Driver</a></li>
            <li ng-click="selectClub('wood')"><a>Wood</a></li>
            <li ng-click="selectClub('iron')"><a>Iron</a></li>
            <li ng-click="selectClub('wedge')"><a>Wedge</a></li>
            <li ng-click="selectClub('putter')"><a>Putter</a></li>
        </ul>
    </span>
</div>

<div id="map-canvas" class="map"></div>

<div>
    <span>Distance: {{swingDetails.power}}m</span>
    <span>Direction: {{swingDetails.direction}}</span>
    <span>Facing: {{swingDetails.facing}}</span>
</div>

<div>
    <span>Wobble: {{swingDetails.wobble.toFixed(2)}}</span>
    <span>Duration: {{swingDetails.duration}}</span>
    <span>Acceleration: {{swingDetails.acceleration}}</span>
</div>
