<h1>
  Hole #{{currentHole.num}} {{currentHole.name}}
</h1>

<h3>
    <compass class="arrow" direction="{{currentHole.bearingTo}}"></compass>

    <span class="holeDistance">{{currentHole.distanceTo}}</span> meters to hole
    <div class="pull-right">
        <button
                ng-click="locateBall()"
                state="GamePlay.AfterTeeOff"
                class="btn btn-primary btn-geolf">
            o
        </button>
        <button
                ng-click="locateHole()"
                state="GamePlay"
                class="btn btn-primary btn-geolf">
            F
        </button>
    </div>
</h3>

<div id="map-canvas" class="map"></div>

<div class="driving-stats"
    state="GamePlay.AfterTeeOff">
    <h4>Wobble: {{swingDetails.wobble.toFixed(2)}}</h4>
    <h4>Distance: {{swingDetails.distance}}m</h4>
</div>

<span state="GamePlay.AfterTeeOff">{{ball.distanceTo}} meters away</span>
