<div class="hero-unit">
    <h1>Geolf</h1>
    <h3>
        <button
                ng-click="goToGame('normal')"
                class="btn btn-primary btn-geolf">
            Play Solo Game
        </button>

        <button
                ng-click="goToGame('war')"
                class="btn btn-primary btn-geolf">
            Geolf War! {{playerCount}} player(s)
        </button>

        <button
                ng-click="goToDrivingRange()"
                class="btn btn-primary btn-geolf">
            Driving Range
        </button>
</div>