<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
    <div id="map-canvas" class="map"></div>

    <button
        ng-click="initializeGreen()"
        class="btn btn-primary State Container_Initializing {{state}}">
        Start Game
    </button>

    <button
        ng-click="swing()"
        class="btn btn-primary State Container_GamePlay {{state}}">
        Swing
    </button>

    <label>
        Angle <span>{{direction}}</span>
        <input type="range" ng-model="direction" name="angle" min="0" max="360" ng-init="direction=0">
    </label>

    <label>
        Power <span>{{power}}</span>
        <input type="range" ng-model="power" name="power" min="0" max="500" ng-init="power=0">
    </label>

    <compass class="arrow" direction="{{direction}}"></compass>
</div>
