<h1>
  Geolf
    <button
          ng-click="initializeGreen()"
          state="PreGame"
          class="btn btn-primary">
      Start Game
    </button>

    <button
            ng-click="initializeGreen(true)"
            state="PreGame"
            class="btn btn-primary">
        Debug Game
    </button>

</h1>

<div id="map-canvas" class="map"></div>

<button
        ng-click="teeoff()"
        ng-disable="{{ball.inRange || !ball}}"
        state="GamePlay.BeforeTeeOff"
        class="btn btn-primary">
    Tee Off
</button>

<button
    ng-click="swing()"
    ng-disable="{{ball.inRange || !ball}}"
    state="GamePlay.AfterTeeOff"
    class="btn btn-primary">
    Swing
</button>

<button
    ng-click="findBall()"
    state="GamePlay"
    class="btn btn-primary">
    Find Ball
</button>

<label>
    Angle <span>{{direction}}</span>
    <input type="range" ng-model="direction" name="angle" min="0" max="360" ng-init="direction=0">
</label>

<label>
    Power <span>{{power}}</span>
    <input type="range" ng-model="power" name="power" min="0" max="500" ng-init="power=0">
</label>

<compass class="arrow" direction="{{direction}}"></compass>
<compass class="arrow ball" direction="{{ball.bearingTo}}"></compass>
<span>{{ball.distanceTo}} meters away</span>
