<div class="hero-unit">
    <h1>Create your Geolf Course</h1>
    <h3>
        <button
                ng-click="startGame()"
                state="Loaded"
                class="btn btn-primary btn-geolf">
            Play {{course.holes.length}} holes
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Make a Quick Course <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-click="quickCourse(18)"><a>Make 18 Hole Course</a></li>
                <li ng-click="quickCourse(12)"><a>Make 12 Hole Course</a></li>
                <li ng-click="quickCourse(9)"><a>Make 9 Hole Course</a></li>
                <li ng-click="quickCourse(6)"><a>Make 6 Hole Course</a></li>
                <li ng-click="quickCourse(3)"><a>Make 3 Hole Course</a></li>
            </ul>
        </div>
    </h3>
    <div id="map-canvas" class="tinymap"></div>

    <h3>
        Hole #{{previewHoleIndex+1}} {{currentHole.name}}
    </h3>
    <div>
        <button ng-click="previewLastHole()" class="btn btn-primary btn-geolf">&lt;</button>
        <button ng-click="previewNextHole()" class="btn btn-primary btn-geolf">&gt;</button>
        <button ng-click="deleteHole()" class="btn btn-primary btn-geolf">remove from course</button>
    </div>


</div>